<div class="auther">
    <h1 class="author_heading">Sichangi here</h1> 
    <p class="author_body">Software engineer</p> 
</div>

<img src="/img/profile.jpg" alt="author image" class="hero_image" width="981" height="528"/>

<section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>   
    <ul class="article_ul">
        <li><a href="#">
            <span>Post Title</span>
            <span class="article-list_date">Post Date</span>
        </a></li>
    </ul>

    <a href="#" class="pagination">&lt;View Older Posts</a>
</section>